---
import MainLayout from "../layouts/MainLayout.astro";

---
<MainLayout>

<div class="card bg-base-100 shadow-xl">
	<div class="card-body">
	<h1 class="card-title">
		Bienvenido a Mi-K
	</h1>

	<p>
		Aprende estadística y probabilidad con ejemplos interactivos,
		ejercicios y visualizaciones.
	</p>

	<div class="card-actions justify-end">
		<button class="btn btn-primary">
		Comenzar
		</button>
	</div>
	</div>
</div>
</MainLayout>
