---
---

<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-none lg:hidden">
    <label for="main-drawer" class="btn btn-square btn-ghost">
      ☰
    </label>
  </div>

  <div class="flex-1 px-2 font-bold">
    Aprende Estadística
  </div>

  <div class="flex-none">
    <label class="swap swap-rotate">
      <input type="checkbox" data-theme-controller />
      🌙
    </label>
  </div>
</div>
